---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";

const identity = {
  firstName: "Sebastian",
  occupation: "UX/Graphic Designer",
  hobbies: ["World of Warcraft", "bouldering", "cycling"],
};

const skills = ["Adobe Suite", "HTML", "CSS"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Astro site one</h2>

  <p>Here is text a lot of text text text text</p>
  <p>Here's a couple of facts about me:</p>

  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I am currently searching for a job utilizing my skills and education as a {
        identity.occupation
      }
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
          .
        </li>
      )
    }
  </ul>

  <p>My skills are:</p>

  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>
